.profile__edit-btn {
    width: 24px;
    height: 24px;
    margin-top: 5px;
    margin-left: 17px;
    flex: none;
    background: #000 url('../../../images/icons/edit_button.svg') no-repeat center center;
    border: 1px solid #FFF;
    align-self: center;
    cursor: pointer;
}

.profile__edit-btn:hover {
    opacity: .6;
    transition: .2s, ease-in-out, linear;
}


@media screen and (max-width: 768px) {
    .profile__edit-btn {
        width: 16px;
        height: 16px;
        margin-top: 5px;
        margin-left: 9px;
    }
}