.popup__input-error {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #FF0000;
    display: block;
    margin: 4px 0 0 6px;
    box-sizing: border-box;
    padding-bottom: 15px;
    height: 40px;
}
