.page {
    min-width: 320px;
    /* max-width: 1280px; */
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    font-family: 'Inter', 'Helvetica', 'Arial', sans-serif;
    color: #fff;
    background-color: #000;
}
