.register {
    max-width: 882px;
    width: 100%;
    height: 100%;
    
    margin: auto;
    padding: 60px 0 80px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}