.header__email {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}

@media screen and (max-width: 540px) {
    .header__email {
        font-size: 14px;
        line-height: 17px
    }
}