.form__submit {
    width:100%;
    max-width: 358px;
    height: 50px;
    background: #000;
    border-radius: 2px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    margin-top: 15px;
}

.form__submit:hover {
    opacity: .8;
    transition: .2s, ease-in-out, linear;
}

@media screen and (max-width: 768px) {
    .form__submit  {
        max-width: 238px;
        height: 46px;
    }
}