.popup__container {
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 34px 36px 36px;
    width: 100%;
    max-width: 430px;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;    
}

@media screen and (max-width: 768px) {
    .popup__container {
        max-width: 282px;
        padding: 25px 22px;
    }
}