.form__title {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}

@media screen and (max-width: 320px) {
    .form__title {
        font-size: 20px;
        line-height: 24px;
    }
}
