@import url(./vendors/normalize.css);
@import url(./vendors/fonts/fonts.css);

@import url(./blocks/page/page.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__email/header__email.css);
@import url(./blocks/header/__login-link/header__login-link.css);

@import url(./blocks/login/login.css);

@import url(./blocks/register/register.css);
@import url(./blocks/register/__signin/register__signin.css);
@import url(./blocks/register/__login-link/register__login-link.css);

@import url(./blocks/form/form.css);
@import url(./blocks/form/__title/form__title.css);
@import url(./blocks/form/__input/form__input.css);
@import url(./blocks/form/__submit/form__submit.css);

@import url(./blocks/main/main.css);

@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__container/profile__container.css);
@import url(./blocks/profile/__avatar-container/profile__avatar-container.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__change-avatar-btn/profile__change-avatar-btn.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__about-me/profile__about-me.css);
@import url(./blocks/profile/__edit-btn/profile__edit-btn.css);
@import url(./blocks/profile/__add-btn/profile__add-btn.css);

@import url(./blocks/elements/elements.css);
@import url(./blocks/elements/__remove-btn/elements__remove-btn.css);
@import url(./blocks/elements/__remove-btn/_hidden/remove-btn_hidden.css);
@import url(./blocks/elements/__figure/elements__figure.css);
@import url(./blocks/elements/__image/elements__image.css);
@import url(./blocks/elements/__caption-container/elements__caption-container.css);
@import url(./blocks/elements/__caption/elements__caption.css);
@import url(./blocks/elements/__likes-container/elements__likes-container.css);
@import url(./blocks/elements/__like-btn/elements__like-btn.css);
@import url(./blocks/elements/__like-btn/_active/elements__like-btn_active.css);
@import url(./blocks/elements/__like-counter/elements__like-counter.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__image-container/popup__image-container.css);
@import url(./blocks/popup/__image-caption/popup__image-caption.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__input-field/popup__input-field.css);
@import url(./blocks/popup/__save-btn/popup__save-btn.css);
@import url(./blocks/popup/__close-btn/popup__close-btn.css);
@import url(./blocks/popup/__input-error/popup__input-error.css);
@import url(./blocks/popup/__input-field/_state_invalid/popup__input-field_state_invalid.css);
@import url(./blocks/popup/__save-btn/_disable/popup__save-btn_disable.css);
