.popup__close-btn {
    position: absolute;
    top: -40px;
    right: -40px;
    width: 100%;
    height: 100%;
    max-width: 41px;
    max-height: 41px;
    background: url('../../../images/icons/close_icon.svg') no-repeat center center;
    border: none
}

.popup__close-btn:hover {
    opacity: .6;
    transition: .2s, ease-in-out, linear;
}


@media screen and (max-width: 768px) {
    .popup__close-btn  {
        right: -10px;
        transform: scale(.64);
    }
}