.header {
    max-width: 882px;
    height: 118px;
    margin: auto;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 540px) {
    .header {
        height: 84px;
    }
}