.form {
    max-width: 358px;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

@media screen and (max-width: 370px) {
    .form {
        max-width: 260px;
        width: 100%;
        height: 100%;
    }
}