.form {
    max-width: 358px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 320px) {
    .form {
        max-width: 260px;
        max-height: 260px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
    }
}