.form__input {
    height: 27px;
    width: 100%;
    margin-bottom: 30px;
    
    padding-bottom: 5px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #CCC;
    
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #CCC;
}

@media screen and (max-width: 320px) {
    .form__input {
        width: 260px;
        font-size: 14px;
        line-height: 17px;
    }
}
